body{
  background-color: darkgoldenrod;
}
#salmon {
  text-align: center;
}
#fish{
  width: 300px;
}
#dailysales{
  text-align: center;
}
.storelist{
  float: left;;
  vertical-align: top;
  padding-left: 50px;
}
#navtabs{
  text-align: right;
}
#homefish{
  width: 400px;
  margin-left:400px;
}
#slogan{
  text-align: center;
}